body{
  font-family: 'Play', sans-serif;
}
.barbers-block{
    
    text-align: center;
  }
a{
    text-decoration:none;
    color:black
    
}
img {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:300px ;
  cursor:pointer
}

/* Эффект при наведении на картинку */
img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
}
.list{
  list-style: none;
}
h1{
  text-align: center;
  margin-bottom: 30px;
}