body{
  background-color:rgb(222, 217, 217);
  font-family: 'Play', sans-serif;
  color:black
  
}
a{
  text-decoration:none;
  color:black
}
img {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Эффект при наведении на картинку */
img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
}
.list{
  list-style: none;
}
/* добавляем стили */
.service {
  display: block;
  text-align: center;
  margin-top: 50px;
}
.service-item {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.service-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.service-item h3 {
  margin-top: 10px;
}
.service-item p {
  font-size: 14px;
  margin-top: 5px;
}
.service-item .price {
  font-weight: bold;
  margin-top: 10px;
}
.img{
  width: 300px;
}
.title{
  text-align: center;
}
.category{
  cursor: pointer;
}